/* ---- base ---- */

html,body { 
	width:100%;
	height:100%;
	background:#111;
}

body { 
  font-family: Raleway;
  color: white;
  overflow: hidden;
}

/*canvas {
  display:block;
}*/

.content {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 20%;
    z-index: 2;
    font-family: Raleway;
    color: white;
    text-transform: uppercase;
}

.content h1 {
    font-size: 8vw;
    font-weight: 400;
    letter-spacing: 3px;
}

.fa {
    color: white;
}

.fa:hover {
    color: #AAA;
}

ul li {
    display: inline;
    padding: 4px;
}

ul {
    margin: 0;
    padding: 3px 0px 4px;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  /*background-color: #252525;*/
  background-color: #333;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}
